@import url('https://fonts.googleapis.com/css?family=Potta+One&display=swap');

#header_pane{
	-fx-background-color: black;
}

#logo{
	-fx-font-weight: bold;
	-fx-padding:  0 30 0 5;
	-fx-font-size: 25px;
	-fx-font-family: "Ribeye", san-serif;
}

#menu.icon{
	-fx-fill: #fff;
}

#search{
	-fx-font-size: 12px;
	-fx-font-style: italic;
	-fx-alignment: center;
	-fx-cursor: text;
	-fx-background-radius: 8px;
	-fx-alignment: center-left;
}

.header_button{
	-fx-background-color: #333;
	-fx-text-fill: #fff;
	-fx-font-weight: bold;
	-fx-cursor: hand;
	-fx-alignment: center-right;
}

.header_button :hover{
	-fx-background-color: #777;
	-fx-underline: true;
	-fx-scale-y: 1.1;
}

.header_button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

#header_blog, #header_nft, #header_back {
	-fx-font-family: "Potta One", san-serif;
	-fx-font-size: 15px;
}

#header_blog, #header_nft {
	-fx-alignment: center;
}
